.content{
    height: 400px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
    background-color: rgba(23, 43, 93, 0.414);
    border-radius: 20px;
    color: rgb(119, 235, 52);
}

.button-con{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.content button{
    height: 50px;
    width: 80px;
    border: none;
    border-radius: 10px;
}
