body{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(33,32,32); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#grandParent{
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

#parent{
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}
#child{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}
